@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

/*video size*/
#video {
  z-index: -1;
  width: 100%;
  position: fixed;
  zoom: 80%;
  object-fit: cover;
}

/*site loader animations*/
.site-loader {
  position: absolute;
  z-index: 900;
  background-color: #010101;
}

.site-loader span {
  /* site loader span */
  -webkit-border-top-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-animation: site-loader 0.7s linear infinite;
  -o-animation: site-loader 0.7s linear infinite;
  animation: site-loader 0.7s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border: 15px solid rgba(255, 255, 255, 0.05);
  border-left-color: #e81351;
}

.site-loader p {
  /* loader text */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: -60px 0 0 -60px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.75;
}

/* site loader animation */
@-webkit-keyframes site-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-left-color: rgba(232, 19, 81, 0.5);
    background: rgba(255, 255, 255, 0.05);
  }
  50% {
    border-left-color: #e81351;

    background: rgba(255, 255, 255, 0.05);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-left-color: rgba(232, 19, 81, 0.5);
    background: rgba(255, 255, 255, 0.05);
  }
}
@-o-keyframes site-loader {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    border-left-color: rgba(232, 19, 81, 0.5);
    background: rgba(255, 255, 255, 0.05);
  }
  50% {
    border-left-color: #e81351;
    background: rgba(255, 255, 255, 0.05);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    border-left-color: rgba(232, 19, 81, 0.5);
    background: rgba(255, 255, 255, 0.05);
  }
}
@keyframes site-loader {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    border-left-color: rgba(232, 19, 81, 0.5);
    background: rgba(255, 255, 255, 0.05);
  }
  50% {
    border-left-color: #e81351;
    background: rgba(255, 255, 255, 0.05);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    border-left-color: rgba(232, 19, 81, 0.5);
    background: rgba(255, 255, 255, 0.05);
  }
}
/*end of site loader animations*/

@layer components {
  /*circle buttons*/
  .circle {
    @apply font-bold text-white rounded-full border border-white flex items-center justify-center font-mono w-[80px] h-[80px] text-[1em];
  }
}

/*jhin purple foreground*/
.purple-foreground {
  background: linear-gradient(
      0deg,
      rgba(89, 0, 255, 0.4),
      rgba(81, 0, 255, 0.4)
    ),
    url(./assets/jhincard.jpg);
  background-size: cover;
}

/*jhin olive foreground*/
.olive-foreground {
  background: linear-gradient(
      0deg,
      rgba(255, 217, 0, 0.4),
      rgba(255, 251, 0, 0.4)
    ),
    url(./assets/jhincard2.jpg);
  background-size: cover;
}
